<!DOCTYPE css>
* {box-sizing: content-box}

.Header {
  padding-left: 80px;
  padding-right: 70px;
}

.Homepage-Header  {
  display: block;
  margin-left: 225px;
  margin-right: 220px;
  width: 100%;
}

.Homepage-Header-1  {
  display: block;
  width: 100;
  padding-left: 220px;
}

.Homepage-Header-2  {
  display: block;
  width: 100%;
}

.Homepage-Header-3  {
  display: block;
  width: 100;
}

.Homepage-Header-4  {
  display: block;
  width: 100;
}

.Homepage-Header-5  {
  display: block;
  width: 100;
}

.Homepage-Header-6  {
  display: block;
  width: 100;
}

.Homepage-Header-7  {
  display: block;
  width: 100;
}

.Homepage-Header-8  {
  display: block;
  width: 100;
}

.Homepage-Header-9  {
  display: block;
  width: 100;
}

.Homepage-Header-10 {
  display: block;
  width: 100;
}

.Homepage-Header-11 {
  display: block;
  width: 100;
}

.Homepage-Header-12 {
  display: block;
  width: 100;
}

.Homepage-Header-13 {
  display: block;
  width: 100;
}

.Homepage-Header-14 {
  display: block;
  width: 100;
  padding-left: 225px;
}

.Homepage-Header-15 {
  display: block;
  width: 100;
}

.nav  {
  display: list-item;
  padding-left: 105px;
  width: 79%;
}hi rawr no respek

.comic  {
  text-align: center;
  padding-left: 400px;
  padding-right: 300px;
}

.body {
  padding-right: 100px;
  padding-left: 100px;
}

.body-comic {
  padding-right: 100px;
  padding-left: 100px;
}

.bake {
  padding-left: 250px;
  padding-right: 17px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.Other  {
  padding-top: 50px;
  padding-left: 650px;
  padding-right: 50px;
  padding-bottom: 10px;
}

.Footer {
  padding-left: 83px;
}

.title  {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* Slideshow container */
.slideshow-container {
  max-width: 550px;
  position: relative;
  margin: auto;
  padding-bottom: 50px;
}

.slideshow-container-concept  {
  max-width: 550px;
  position: relative;
  margin: auto;
  padding-top: 25px;
  padding-bottom: 50px;
}

.slideshow-container-journey  {
  max-width: 550px;
  position: relative;
  margin: auto;
  padding-bottom: 25px;
  padding-top: 25px;
}

.slideshow-container-pleinair  {
  max-width: 550px;
  position: relative;
  margin: auto;
  padding-bottom: 25px;
  padding-top: 25px;
}

.slideshow-container-watercolor  {
  max-width: 550px;
  position: relative;
  margin: auto;
  padding-bottom: 25px;
  padding-top: 25px;
}

.slideshow-container-portrait  {
  max-width: 550px;
  position: relative;
  margin: auto;
  padding-bottom: 25px;
  padding-top: 25px;
}

.slideshow-container-cakes  {
  max-width: 550px;
  position: relative;
  margin: auto;
  padding-bottom: 25px;
  padding-top: 25px;
}

.design {
  padding-top: 25px;
  padding-bottom: 10px;
}

.slideshow-container-design  {
  max-width: 550px;
  position: relative;
  margin: auto;
  padding-bottom: 25px;
  padding-top: 10px;
}

.slideshow-container-character  {
  max-width: 550px;
  position: relative;
  margin: auto;
  padding-bottom: 25px;
  padding-top: 10px;
}

/* Hide the images by default */
.mySlides {
  display: none;
  padding-bottom: 10px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  display: inline-flex;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  position: absolute;
  padding-top: 475px;
  padding-right: 300px;
  padding-left: 300px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
  position: absolute;
  padding-top: 475px;
  padding-right: 10px;
  padding-left: 300px;
}

.prev-character, .next-character  {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  display: inline-flex;
}

.next-character {
  right: 0;
  border-radius: 3px 0 0 3px;
  position: absolute;
  padding-top: 350px;
  padding-right: 300px;
  padding-left: 300px;
}

.prev-character {
  left: 0;
  border-radius: 3px 0 0 3px;
  position: absolute;
  padding-top: 350px;
  padding-right: 300px;
  padding-left: 300px;
}

.next-concept, .prev-concept  {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  display: inline-flex;
}

.next-concept {
  right: 0;
  border-radius: 3px 0 0 3px;
  position: absolute;
  padding-top: 300px;
  padding-right: 300px;
  padding-left: 300px;
}

.prev-concept {
  left: 0;
  border-radius: 3px 0 0 3px;
  position: absolute;
  padding-top: 300px;
  padding-right: 300px;
  padding-left: 300px;
}

.next-leverage, .prev-leverage  {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  display: inline-flex;
}

.next-leverage  {
  right: 0;
  border-radius: 3px 0 0 3px;
  position: absolute;
  padding-top: 300px;
  padding-right: 300px;
  padding-left: 300px;
}

.prev-leverage  {
  left: 0;
  border-radius: 3px 0 0 3px;
  position: absolute;
  padding-top: 300px;
  padding-right: 300px;
  padding-left: 300px;
}

.next-journey, .prev-journey  {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  display: inline-flex;
}

.next-journey {
  right: 0;
  border-radius: 3px 0 0 3px;
  position: absolute;
  padding-top: 240px;
  padding-right: 300px;
  padding-left: 300px;
}

.prev-journey {
  left: 0;
  border-radius: 3px 0 0 3px;
  position: absolute;
  padding-top: 240px;
  padding-right: 300px;
  padding-left: 300px;
}

.next-pleinair, .prev-pleinair  {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  display: inline-flex;
}

.next-pleinair  {
  right: 0;
  border-radius: 3px 0 0 3px;
  position: absolute;
  padding-top: 150px;
  padding-right: 300px;
  padding-left: 300px;
}

.prev-pleinair  {
  left: 0;
  border-radius: 3px 0 0 3px;
  position: absolute;
  padding-top: 150px;
  padding-right: 300px;
  padding-left: 300px;
}

.next-watercolor, .prev-watercolor  {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  display: inline-flex;
}

.next-watercolor  {
  right: 0;
  border-radius: 3px 0 0 3px;
  position: absolute;
  padding-top: 150px;
  padding-right: 300px;
  padding-left: 300px;
}

.prev-watercolor  {
  left: 0;
  border-radius: 3px 0 0 3px;
  position: absolute;
  padding-top: 150px;
  padding-right: 300xp;
  padding-left: 300px;
}

.next-portrait, .prev-portrait  {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  display: inline-flex;
}

.next-portrait  {
  right: 0;
  border-radius: 3px 0 0 3px;
  position: absolute;
  padding-top: 175px;
  padding-right: 300px;
  padding-left: 300px;
}

.prev-portrait  {
  left: 0;
  border-radius: 3px 0 0 3px;
  position: absolute;
  padding-top: 175px;
  padding-right: 300px;
  padding-left: 300px;
}

.next-cakes, .prev-cakes  {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  display: inline-flex;
}

.next-cakes  {
  right: 0;
  border-radius: 3px 0 0 3px;
  position: absolute;
  padding-top: 525px;
  padding-right: 300px;
  padding-left: 300px;
}

.prev-cakes  {
  left: 0;
  border-radius: 3px 0 0 3px;
  position: absolute;
  padding-top: 525px;
  padding-right: 300px;
  padding-left: 300px;
}

.next-cupcakes, .prev-cupcakes  {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  display: inline-flex;
}

.next-cupcakes  {
  right: 0;
  border-radius: 3px 0 0 3px;
  position: absolute;
  padding-top: 450px;
  padding-right: 300px;
  padding-left: 300px;
}

.prev-cupcakes  {
  left: 0;
  border-radius: 3px 0 0 3px;
  position: absolute;
  padding-top: 450px;
  padding-right: 300px;
  padding-left: 300px;
}

.next-goodies, .prev-goodies  {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  display: inline-flex;
}

.next-goodies  {
  right: 0;
  border-radius: 3px 0 0 3px;
  position: absolute;
  padding-top: 450px;
  padding-right: 300px;
  padding-left: 300px;
}

.prev-goodies  {
  left: 0;
  border-radius: 3px 0 0 3px;
  position: absolute;
  padding-top: 450px;
  padding-right: 300px;
  padding-left: 300px;
}

.next-cookies, .prev-cookies  {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  display: inline-flex;
}

.next-cookies  {
  right: 0;
  border-radius: 3px 0 0 3px;
  position: absolute;
  padding-top: 475px;
  padding-right: 300px;
  padding-left: 300px;
}

.prev-cookies  {
  left: 0;
  border-radius: 3px 0 0 3px;
  position: absolute;
  padding-top: 475px;
  padding-right: 300px;
  padding-left: 300px;
}

.next-design, .prev-design  {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  display: inline-flex;
}

.next-design  {
  right: 0;
  border-radius: 3px 0 0 3px;
  position: absolute;
  padding-top: 375px;
  padding-right: 300px;
  padding-left: 300px;
}

.prev-design  {
  left: 0;
  border-radius: 3px 0 0 3px;
  position: absolute;
  padding-top: 375px;
  padding-right: 300px;
  padding-left: 300px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  padding-top: 618px;
  padding-left: 223px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.Bakery {
  text-align: center;
  display: block;
}

.Cake {
  padding-top: 25px;
  padding-bottom: 75px;
  display: block;
}

.row  {
  padding-top: 25px;
}

.Art  {
  text-align: center;
  display: block;
}

.Journey {
  padding-top: 25px;
  padding-bottom: 75px;
  display: block;
}

.comics  {
  position: absolute;
  padding-top: 25px;
  padding-left: 250px;
}

.column12  {
  padding-top: 10px;
  display: block;
}

.column1  {
  display: block;
}

.column11  {
  display: block;
  padding-bottom: 50px;
}

.column2 {
  padding-top: 5px;
  padding-bottom: 40px;
  display: block;
  text-align: center;
}

#fs img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.about  {
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

.footer  {
  font-size: 10px;
  font-style: italic;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

.back {
  padding-top: 10px;
}

.J-series {
  padding-left: 360px;
  padding-top: 100px;
}

.art  {
  padding-top: 50px;
}

.avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.journey-art  {
  padding-left: 418px;
}

.plein-art  {
  padding-left: 490px;
}

.watercolor-art {
  padding-left: 490px;
}

.portrait-art {
  padding-left: 418px;
}

.comic-pages  {
  padding-left: 318px;
  padding-right: 318px;
}

.baking-cakes {
  padding-left: 460px;
}

.baking-cupcakes  {
  padding-left: 460px;
}

.baking-cookies {
  padding-left: 460px;
}

.baking-desserts  {
  padding-left: 440px;
}

.baking-design {
  padding-left: 455px;
}